:root {
    --background: #eee;
    --component: #ddd;
    --cover: #fff;
    --primary: #2196f3;
    --primary-text: #fff;
    --primary-text-muted: rgba(0, 0, 0, 0.5);
    --border-radius: 2px;
    --pad-sm: 0.25em;
    --pad-md: 0.50em;
    --pad-lg: 1.00em;
}